In [1]:
import pandas as pd

In [8]:
# make id column the index
car = pd.read_csv("https://raw.githubusercontent.com/ianmcloughlin/datasets/master/cars-db/car.csv", index_col=0)
car.head(10)

   Registration  OwnerId
ID
0   08-SO-11072        9
1   16-KE-16368       97
2   08-LD-16871       17
3   11-KY-17442       22
4   16-LD-17545       48
5    10-WH-3543       10
6    03-KE-8148       74
7    06-G-23024        4
8   08-LS-21770       93
9   03-WX-41717       53

In [7]:
# make id column the index
person = pd.read_csv("https://raw.githubusercontent.com/ianmcloughlin/datasets/master/cars-db/person.csv", index_col=0)
person.head(10)

                   Name    Address
ID
0            Anna Henry     Carlow
1           Shelby Beck  Tipperary
2            Marie Carr      Kerry
3           Sarah Heath   Monaghan
4         Robert Snyder    Leitrim
5            Lucas Ross       Cork
6             David Cox    Leitrim
7          Jackson Dean      Louth
8   Elizabeth Mcfarland     Dublin
9      Timothy Cummings   Limerick

In [9]:
# make id column the index
county = pd.read_csv("https://raw.githubusercontent.com/ianmcloughlin/datasets/master/cars-db/county.csv", index_col=0)
county.head(10)

   Registration      Name
ID
0            CW    Carlow
1            CN     Cavan
2            CE     Clare
3             C      Cork
4            DL   Donegal
5             D    Dublin
6             G    Galway
7            KY     Kerry
8            KE   Kildare
9            KK  Kilkenny

In [13]:
pd.merge(car, person, left_on="OwnerId", right_on="ID", how="left")

    Registration  OwnerId                 Name    Address
0    08-SO-11072        9     Timothy Cummings   Limerick
1    16-KE-16368       97            Dana Wade       Mayo
2    08-LD-16871       17      Valerie Stewart   Longford
3    11-KY-17442       22      Gregory Vazquez      Sligo
4    16-LD-17545       48             Sara Lee      Laois
5     10-WH-3543       10      Jennifer Reeves     Offaly
6     03-KE-8148       74         Leonard Chen     Galway
7     06-G-23024        4        Robert Snyder    Leitrim
8    08-LS-21770       93         Morgan Marsh  Westmeath
9    03-WX-41717       53  Kayla Rodriguez DVM      Clare
10    01-T-37495       63       Robert Acevedo      Meath
11   11-WH-22446       40       Susan Cummings       Cork
12   09-MN-43311       26        Anne Anderson       Cork
13    05-KK-2596        0           Anna Henry     Carlow
14   17-SO-17328       45        Melanie White     Carlow
15    99-L-23440       76         Justin Casey      Louth
16   05-WX-31122       16          Jacob Moore   Longford
17   16-LS-41756       91          Donna Mason   Longford
18   16-RN-45098       25        Leonard Brown      Sligo
19    16-C-27251       80       Paul Nicholson    Wexford
20   06-LD-43721       89      Stephanie Yates      Meath
21    03-RN-2898       28         Connie Walls   Limerick
22   10-CW-49121       58         Tina Holland      Sligo
23   15-LS-45283       67    Nicholas Carrillo      Laois
24    08-D-43986        0           Anna Henry     Carlow
25   08-DL-49460       42           Devin Shaw    Wexford
26   08-DL-20130       59    Melinda Blackwell       Mayo
27   10-WX-18691        4        Robert Snyder    Leitrim
28    08-T-37917        2           Marie Carr      Kerry
29     15-D-6469        6            David Cox    Leitrim
..           ...      ...                  ...        ...
300   05-CN-5924       97            Dana Wade       Mayo
301   05-W-22770        6            David Cox    Leitrim
302  10-LH-34050       24         Joshua Perez     Galway
303  16-LS-26245       78        Robert Fields      Louth
304   05-D-30917       14       Hannah Collier    Leitrim
305   07-G-48955       97            Dana Wade       Mayo
306   13-G-48846       34           Diane Hunt  Westmeath
307   05-L-42386       13         Megan Clarke    Kildare
308   08-T-12971       19        Richard Foley     Offaly
309   18-WH-6082       85      Carrie Sullivan     Galway
310  12-MO-30235       94         Daniel Smith   Limerick
311   16-T-22243       44           John Davis     Dublin
312   03-L-37130       62         Jeff Stevens     Dublin
313  12-MO-18353       42           Devin Shaw    Wexford
314  11-MN-11186       78        Robert Fields      Louth
315  05-WX-40062       57         Robert Price     Dublin
316   04-D-38409       71         Melissa Lowe  Westmeath
317  16-CE-29807       31         William Hall      Kerry
318    15-D-4632       95      Joseph Griffith    Wicklow
319  14-LM-31240       24         Joshua Perez     Galway
320  15-LH-20280        6            David Cox    Leitrim
321   04-L-14265       62         Jeff Stevens     Dublin
322  05-KK-13066       11        Sandra Knight     Offaly
323  02-MN-14407       86     Jordan Velasquez     Galway
324  11-CE-42446       81         Jared Nguyen      Cavan
325   16-W-29168       71         Melissa Lowe  Westmeath
326   03-G-19542       32     Katherine Dalton    Kildare
327  18-MO-35400       14       Hannah Collier    Leitrim
328  11-KK-35894       33        Alan Williams     Galway
329    07-G-5958       29         Seth Simpson  Westmeath

[330 rows x 4 columns]

In [15]:
pd.merge(car, person, left_on="OwnerId", right_on="ID", how="left")[["Registration", "Name"]].head()

  Registration              Name
0  08-SO-11072  Timothy Cummings
1  16-KE-16368         Dana Wade
2  08-LD-16871   Valerie Stewart
3  11-KY-17442   Gregory Vazquez
4  16-LD-17545          Sara Lee

In [21]:
tmp = pd.merge(car, person, left_on="OwnerId", right_on="ID", how="left")
pd.merge(tmp, county, left_on="Address", right_on="Name",how="left")
tmp

    Registration  OwnerId                 Name    Address
0    08-SO-11072        9     Timothy Cummings   Limerick
1    16-KE-16368       97            Dana Wade       Mayo
2    08-LD-16871       17      Valerie Stewart   Longford
3    11-KY-17442       22      Gregory Vazquez      Sligo
4    16-LD-17545       48             Sara Lee      Laois
5     10-WH-3543       10      Jennifer Reeves     Offaly
6     03-KE-8148       74         Leonard Chen     Galway
7     06-G-23024        4        Robert Snyder    Leitrim
8    08-LS-21770       93         Morgan Marsh  Westmeath
9    03-WX-41717       53  Kayla Rodriguez DVM      Clare
10    01-T-37495       63       Robert Acevedo      Meath
11   11-WH-22446       40       Susan Cummings       Cork
12   09-MN-43311       26        Anne Anderson       Cork
13    05-KK-2596        0           Anna Henry     Carlow
14   17-SO-17328       45        Melanie White     Carlow
15    99-L-23440       76         Justin Casey      Louth
16   05-WX-31122       16          Jacob Moore   Longford
17   16-LS-41756       91          Donna Mason   Longford
18   16-RN-45098       25        Leonard Brown      Sligo
19    16-C-27251       80       Paul Nicholson    Wexford
20   06-LD-43721       89      Stephanie Yates      Meath
21    03-RN-2898       28         Connie Walls   Limerick
22   10-CW-49121       58         Tina Holland      Sligo
23   15-LS-45283       67    Nicholas Carrillo      Laois
24    08-D-43986        0           Anna Henry     Carlow
25   08-DL-49460       42           Devin Shaw    Wexford
26   08-DL-20130       59    Melinda Blackwell       Mayo
27   10-WX-18691        4        Robert Snyder    Leitrim
28    08-T-37917        2           Marie Carr      Kerry
29     15-D-6469        6            David Cox    Leitrim
..           ...      ...                  ...        ...
300   05-CN-5924       97            Dana Wade       Mayo
301   05-W-22770        6            David Cox    Leitrim
302  10-LH-34050       24         Joshua Perez     Galway
303  16-LS-26245       78        Robert Fields      Louth
304   05-D-30917       14       Hannah Collier    Leitrim
305   07-G-48955       97            Dana Wade       Mayo
306   13-G-48846       34           Diane Hunt  Westmeath
307   05-L-42386       13         Megan Clarke    Kildare
308   08-T-12971       19        Richard Foley     Offaly
309   18-WH-6082       85      Carrie Sullivan     Galway
310  12-MO-30235       94         Daniel Smith   Limerick
311   16-T-22243       44           John Davis     Dublin
312   03-L-37130       62         Jeff Stevens     Dublin
313  12-MO-18353       42           Devin Shaw    Wexford
314  11-MN-11186       78        Robert Fields      Louth
315  05-WX-40062       57         Robert Price     Dublin
316   04-D-38409       71         Melissa Lowe  Westmeath
317  16-CE-29807       31         William Hall      Kerry
318    15-D-4632       95      Joseph Griffith    Wicklow
319  14-LM-31240       24         Joshua Perez     Galway
320  15-LH-20280        6            David Cox    Leitrim
321   04-L-14265       62         Jeff Stevens     Dublin
322  05-KK-13066       11        Sandra Knight     Offaly
323  02-MN-14407       86     Jordan Velasquez     Galway
324  11-CE-42446       81         Jared Nguyen      Cavan
325   16-W-29168       71         Melissa Lowe  Westmeath
326   03-G-19542       32     Katherine Dalton    Kildare
327  18-MO-35400       14       Hannah Collier    Leitrim
328  11-KK-35894       33        Alan Williams     Galway
329    07-G-5958       29         Seth Simpson  Westmeath

[330 rows x 4 columns]